AsistenteMatricula.Test/Service References/PermisoService/PermisoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50716/PermisoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" />
  <xs:element name="UniversidadCrear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" minOccurs="0" name="Parametro" nillable="true" type="q1:Universidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadCrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" minOccurs="0" name="UniversidadCrearResult" nillable="true" type="q2:Universidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadObtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" minOccurs="0" name="UniversidadObtenerResult" nillable="true" type="q3:Universidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadModificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" minOccurs="0" name="Parametro" nillable="true" type="q4:Universidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" minOccurs="0" name="UniversidadModificarResult" nillable="true" type="q5:Universidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadEliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" minOccurs="0" name="UniversidadListarResult" nillable="true" type="q6:ArrayOfUniversidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadUsuarioCrear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" minOccurs="0" name="Parametro" nillable="true" type="q7:UniversidadUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadUsuarioCrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" minOccurs="0" name="UniversidadUsuarioCrearResult" nillable="true" type="q8:UniversidadUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadUsuarioObtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadUsuarioObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" minOccurs="0" name="UniversidadUsuarioObtenerResult" nillable="true" type="q9:UniversidadUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadUsuarioModificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" minOccurs="0" name="Parametro" nillable="true" type="q10:UniversidadUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadUsuarioModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" minOccurs="0" name="UniversidadUsuarioModificarResult" nillable="true" type="q11:UniversidadUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadUsuarioEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadUsuarioEliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadUsuarioListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UniversidadUsuarioListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" minOccurs="0" name="UniversidadUsuarioListarResult" nillable="true" type="q12:ArrayOfUniversidadUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>