AsistenteMatricula.Test/Service References/PermisoService/PermisoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PermisoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50716/PermisoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50716/PermisoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Errores" />
      <xsd:import schemaLocation="http://localhost:50716/PermisoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50716/PermisoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPermisoService_UniversidadCrear_InputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadCrear" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadCrear_OutputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadCrearResponse" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadCrear_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Errores" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadObtener_InputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadObtener" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadObtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadModificar_InputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadModificar" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadModificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadModificarResponse" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadEliminar" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadListar_InputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadListar" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadListarResponse" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadUsuarioCrear_InputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadUsuarioCrear" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadUsuarioCrear_OutputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadUsuarioCrearResponse" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadUsuarioCrear_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Errores" name="detail" element="q2:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadUsuarioObtener_InputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadUsuarioObtener" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadUsuarioObtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadUsuarioObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadUsuarioModificar_InputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadUsuarioModificar" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadUsuarioModificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadUsuarioModificarResponse" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadUsuarioEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadUsuarioEliminar" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadUsuarioEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadUsuarioEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadUsuarioListar_InputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadUsuarioListar" />
  </wsdl:message>
  <wsdl:message name="IPermisoService_UniversidadUsuarioListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UniversidadUsuarioListarResponse" />
  </wsdl:message>
  <wsdl:portType name="IPermisoService">
    <wsdl:operation name="UniversidadCrear">
      <wsdl:input wsaw:Action="http://tempuri.org/IPermisoService/UniversidadCrear" message="tns:IPermisoService_UniversidadCrear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPermisoService/UniversidadCrearResponse" message="tns:IPermisoService_UniversidadCrear_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPermisoService/UniversidadCrearRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IPermisoService_UniversidadCrear_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UniversidadObtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IPermisoService/UniversidadObtener" message="tns:IPermisoService_UniversidadObtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPermisoService/UniversidadObtenerResponse" message="tns:IPermisoService_UniversidadObtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UniversidadModificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPermisoService/UniversidadModificar" message="tns:IPermisoService_UniversidadModificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPermisoService/UniversidadModificarResponse" message="tns:IPermisoService_UniversidadModificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UniversidadEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPermisoService/UniversidadEliminar" message="tns:IPermisoService_UniversidadEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPermisoService/UniversidadEliminarResponse" message="tns:IPermisoService_UniversidadEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UniversidadListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPermisoService/UniversidadListar" message="tns:IPermisoService_UniversidadListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPermisoService/UniversidadListarResponse" message="tns:IPermisoService_UniversidadListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UniversidadUsuarioCrear">
      <wsdl:input wsaw:Action="http://tempuri.org/IPermisoService/UniversidadUsuarioCrear" message="tns:IPermisoService_UniversidadUsuarioCrear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPermisoService/UniversidadUsuarioCrearResponse" message="tns:IPermisoService_UniversidadUsuarioCrear_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPermisoService/UniversidadUsuarioCrearRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IPermisoService_UniversidadUsuarioCrear_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UniversidadUsuarioObtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IPermisoService/UniversidadUsuarioObtener" message="tns:IPermisoService_UniversidadUsuarioObtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPermisoService/UniversidadUsuarioObtenerResponse" message="tns:IPermisoService_UniversidadUsuarioObtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UniversidadUsuarioModificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPermisoService/UniversidadUsuarioModificar" message="tns:IPermisoService_UniversidadUsuarioModificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPermisoService/UniversidadUsuarioModificarResponse" message="tns:IPermisoService_UniversidadUsuarioModificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UniversidadUsuarioEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPermisoService/UniversidadUsuarioEliminar" message="tns:IPermisoService_UniversidadUsuarioEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPermisoService/UniversidadUsuarioEliminarResponse" message="tns:IPermisoService_UniversidadUsuarioEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UniversidadUsuarioListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPermisoService/UniversidadUsuarioListar" message="tns:IPermisoService_UniversidadUsuarioListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPermisoService/UniversidadUsuarioListarResponse" message="tns:IPermisoService_UniversidadUsuarioListar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPermisoService" type="tns:IPermisoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UniversidadCrear">
      <soap:operation soapAction="http://tempuri.org/IPermisoService/UniversidadCrear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UniversidadObtener">
      <soap:operation soapAction="http://tempuri.org/IPermisoService/UniversidadObtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniversidadModificar">
      <soap:operation soapAction="http://tempuri.org/IPermisoService/UniversidadModificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniversidadEliminar">
      <soap:operation soapAction="http://tempuri.org/IPermisoService/UniversidadEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniversidadListar">
      <soap:operation soapAction="http://tempuri.org/IPermisoService/UniversidadListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniversidadUsuarioCrear">
      <soap:operation soapAction="http://tempuri.org/IPermisoService/UniversidadUsuarioCrear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UniversidadUsuarioObtener">
      <soap:operation soapAction="http://tempuri.org/IPermisoService/UniversidadUsuarioObtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniversidadUsuarioModificar">
      <soap:operation soapAction="http://tempuri.org/IPermisoService/UniversidadUsuarioModificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniversidadUsuarioEliminar">
      <soap:operation soapAction="http://tempuri.org/IPermisoService/UniversidadUsuarioEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniversidadUsuarioListar">
      <soap:operation soapAction="http://tempuri.org/IPermisoService/UniversidadUsuarioListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PermisoService">
    <wsdl:port name="BasicHttpBinding_IPermisoService" binding="tns:BasicHttpBinding_IPermisoService">
      <soap:address location="http://localhost:50716/PermisoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>