WCF_GestionarUniversidadService/Connected Services/CursoService/CursoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_CursoService.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_CursoService.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57968/CursoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_CursoService.Dominio" />
  <xs:complexType name="RespuestaCurso">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Respuesta">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_CursoService.Dominio" minOccurs="0" name="Cursos" nillable="true" type="q1:ArrayOfCurso" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespuestaCurso" nillable="true" type="tns:RespuestaCurso" />
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
</xs:schema>