WCF_GestionarUniversidadService/Connected Services/CursoService/CursoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CursoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ICursoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://amaws01.azurewebsites.net/CursoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://amaws01.azurewebsites.net/CursoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://amaws01.azurewebsites.net/CursoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_CursoService.Response" />
      <xsd:import schemaLocation="https://amaws01.azurewebsites.net/CursoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_CursoService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICursoService_BuscarCursosPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCursosPorNombre" />
  </wsdl:message>
  <wsdl:message name="ICursoService_BuscarCursosPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCursosPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_ConsultarCursosPorAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCursosPorAlumno" />
  </wsdl:message>
  <wsdl:message name="ICursoService_ConsultarCursosPorAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCursosPorAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICursoService">
    <wsdl:operation name="BuscarCursosPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/BuscarCursosPorNombre" message="tns:ICursoService_BuscarCursosPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/BuscarCursosPorNombreResponse" message="tns:ICursoService_BuscarCursosPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCursosPorAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/ConsultarCursosPorAlumno" message="tns:ICursoService_ConsultarCursosPorAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/ConsultarCursosPorAlumnoResponse" message="tns:ICursoService_ConsultarCursosPorAlumno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICursoService" type="tns:ICursoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarCursosPorNombre">
      <soap:operation soapAction="http://tempuri.org/ICursoService/BuscarCursosPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCursosPorAlumno">
      <soap:operation soapAction="http://tempuri.org/ICursoService/ConsultarCursosPorAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ICursoService" type="tns:ICursoService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ICursoService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarCursosPorNombre">
      <soap:operation soapAction="http://tempuri.org/ICursoService/BuscarCursosPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCursosPorAlumno">
      <soap:operation soapAction="http://tempuri.org/ICursoService/ConsultarCursosPorAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CursoService">
    <wsdl:port name="BasicHttpBinding_ICursoService" binding="tns:BasicHttpBinding_ICursoService">
      <soap:address location="http://amaws01.azurewebsites.net/CursoService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ICursoService" binding="tns:BasicHttpsBinding_ICursoService">
      <soap:address location="https://amaws01.azurewebsites.net/CursoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>