WCF_GestionarUniversidadService/Connected Services/AlumnoSVC/Alumno2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Alumno.Error" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Alumno.Error" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultObject" nillable="true" type="tns:ResultObject" />
</xs:schema>