WCF_GestionarUniversidadService/Connected Services/AlumnoSVC/Alumno1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61148/Alumno.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alumno.Dominio" />
  <xs:element name="CrearEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Alumno.Dominio" minOccurs="0" name="estudianteACrear" nillable="true" type="q1:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Alumno.Dominio" minOccurs="0" name="CrearEstudianteResult" nillable="true" type="q2:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Alumno.Dominio" minOccurs="0" name="ValidarEstudianteResult" nillable="true" type="q3:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Alumno.Dominio" minOccurs="0" name="ObtenerEstudianteResult" nillable="true" type="q4:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Alumno.Dominio" minOccurs="0" name="estudianteAModificar" nillable="true" type="q5:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Alumno.Dominio" minOccurs="0" name="ModificarEstudianteResult" nillable="true" type="q6:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEstudiantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEstudiantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Alumno.Dominio" minOccurs="0" name="ListarEstudiantesResult" nillable="true" type="q7:ArrayOfEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>