WCF_GestionarAsistenteService/Connected Services/ValoracionService/ValoracionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://amaws01.azurewebsites.net/ValoracionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_ValoracionService.Response" />
  <xs:element name="Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAlumno" type="xs:int" />
        <xs:element minOccurs="0" name="idDocente" type="xs:int" />
        <xs:element minOccurs="0" name="idCurso" type="xs:int" />
        <xs:element minOccurs="0" name="estrellas" type="xs:int" />
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resenia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_ValoracionService.Response" minOccurs="0" name="RegistrarResult" nillable="true" type="q1:RespuestaValoracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RankingDocentes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCurso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RankingDocentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_ValoracionService.Response" minOccurs="0" name="RankingDocentesResult" nillable="true" type="q2:RespuestaValoracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>