WCF_GestionarAsistenteService/Connected Services/ValoracionService/ValoracionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ValoracionService.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ValoracionService.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://amaws01.azurewebsites.net/ValoracionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_ValoracionService.Dominio" />
  <xs:complexType name="RespuestaValoracion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Respuesta">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_ValoracionService.Dominio" minOccurs="0" name="Valoraciones" nillable="true" type="q1:ArrayOfValoracion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespuestaValoracion" nillable="true" type="tns:RespuestaValoracion" />
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
</xs:schema>