AsistenteMatricula.Test/Service References/GPUniversidadService/UniversidadUsuarioService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_GestionarPermisoService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UniversidadUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UniversidadUsuario" nillable="true" type="tns:UniversidadUsuario" />
  <xs:complexType name="ArrayOfUniversidadUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UniversidadUsuario" nillable="true" type="tns:UniversidadUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUniversidadUsuario" nillable="true" type="tns:ArrayOfUniversidadUsuario" />
</xs:schema>