AsistenteMatricula.Portal/Service References/ReportesService/ReportesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50715/ReportesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_GestionarReporteService.Dominio" />
  <xs:element name="RankingDocentes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFina" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RankingDocentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_GestionarReporteService.Dominio" minOccurs="0" name="RankingDocentesResult" nillable="true" type="q1:ArrayOfValoracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>