AsistenteMatricula.Portal/Service References/ReportesService/ReportesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_GestionarReporteService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_GestionarReporteService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfValoracion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Valoracion" nillable="true" type="tns:Valoracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValoracion" nillable="true" type="tns:ArrayOfValoracion" />
  <xs:complexType name="Valoracion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calificacion" type="xs:int" />
      <xs:element minOccurs="0" name="Curso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Docente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdValoracion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valoracion" nillable="true" type="tns:Valoracion" />
</xs:schema>