AsistenteMatricula.Portal/Service References/GestionarReporteService/ReportesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestionarReporteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IGestionarReporteService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50715/GestionarReporteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50715/GestionarReporteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50715/GestionarReporteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_GestionarReporteService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestionarReporteService_RankingDocentes_InputMessage">
    <wsdl:part name="parameters" element="tns:RankingDocentes" />
  </wsdl:message>
  <wsdl:message name="IGestionarReporteService_RankingDocentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RankingDocentesResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionarReporteService_Enviar_InputMessage">
    <wsdl:part name="parameters" element="tns:Enviar" />
  </wsdl:message>
  <wsdl:message name="IGestionarReporteService_Enviar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionarReporteService_Autenticacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="IGestionarReporteService_Autenticacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestionarReporteService">
    <wsdl:operation name="RankingDocentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionarReporteService/RankingDocentes" message="tns:IGestionarReporteService_RankingDocentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionarReporteService/RankingDocentesResponse" message="tns:IGestionarReporteService_RankingDocentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Enviar">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionarReporteService/Enviar" message="tns:IGestionarReporteService_Enviar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionarReporteService/EnviarResponse" message="tns:IGestionarReporteService_Enviar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Autenticacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionarReporteService/Autenticacion" message="tns:IGestionarReporteService_Autenticacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionarReporteService/AutenticacionResponse" message="tns:IGestionarReporteService_Autenticacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IGestionarReporteService" type="tns:IGestionarReporteService">
    <wsp:PolicyReference URI="#CustomBinding_IGestionarReporteService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RankingDocentes">
      <soap12:operation soapAction="http://tempuri.org/IGestionarReporteService/RankingDocentes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Enviar">
      <soap12:operation soapAction="http://tempuri.org/IGestionarReporteService/Enviar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Autenticacion">
      <soap12:operation soapAction="http://tempuri.org/IGestionarReporteService/Autenticacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionarReporteService">
    <wsdl:port name="CustomBinding_IGestionarReporteService" binding="tns:CustomBinding_IGestionarReporteService">
      <soap12:address location="http://localhost:50715/GestionarReporteService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:50715/GestionarReporteService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>